$gradient-color:  var(
  --GRA-Blue2,
  linear-gradient(
    169deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  )
);

.gradient-color {
  background: var(
    --GRA-Blue2,
    linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg{
  
  background:
    linear-gradient(
      169deg,
      rgba(57, 132, 244, 0.04) -6.01%,
      rgba(12, 211, 255, 0.04) 36.87%,
      rgb(47, 124, 240, 0.04) 78.04%,
      rgba(14, 101, 232, 0.04) 103.77%
    )
  ;
}