
.card-text{
    background: var(--GRA-Blue2, linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%));
background-clip: text;
-webkit-background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.check-icon{
    font-size: 0.9rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    margin-bottom: 1rem;
}