@use "../abstracts" as *;

.hero-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.hero-text span {
  background: var(
    --GRA-Blue2,
    linear-gradient(
      169deg,
      #3984f4 -6.01%,
      #0cd3ff 36.87%,
      #2f7cf0 78.04%,
      #0e65e8 103.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-img {
  width: 930px;
}

.header-star {
  position: absolute;
  right: 0;
  top: 0;
}

.header-circle {
  position: absolute;
  left: -100px;
  bottom: -50px;
}

.gradient-bg-purple {
  border-radius: 271px;
  opacity: 0.6;
  background: var(
    --GRA-Purple,
    linear-gradient(141deg, #a239f4 12.04%, #e0b9ff 87.96%)
  );
  filter: blur(250px);
  position: absolute;
  width: 270px;
  height: 270px;
  left:0;
  top: 0;
}
.gradient-bg-blue {
  border-radius: 299px;
  opacity: 0.7;
  background: var(
    --GRA-Blue,
    linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%)
  );
  filter: blur(250px);
  position: absolute;
  width: 270px;
  height: 270px;
  right:0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .hero-img {
    width: 100%;
    height: auto;
  }
  .hero-text {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media (max-width: 992px) {
  .hero-img {
    width: 100%;
    height: auto;
  }
  .hero-text {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
  .hero-info {
    text-align: center;
  }
  .hero-signup {
    text-align: center;
    display: block;
  }
  .hero-btn {
    display: block;
    width: 100%;
    margin-bottom: 5%;
    padding: 1rem 0;
  }
  header {
    padding-top: 12rem;
  }
}
@media (max-width: 768px) {
  .hero-img {
    width: 100%;
    height: auto;
  }
  .hero-text {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 576px) {
  .hero-img {
    width: 100%;
    height: auto;
  }
  .hero-text {
    font-size: 2rem;
    line-height: initial;
  }
}
@media (max-width: 1680px) {
  .hero-img {
    width: 100%;
    height: auto;
  }
}
