.sec-started{
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.70) -9.25%, rgba(255, 255, 255, 0.60) -9.25%, rgba(244, 249, 255, 0.70) 108.74%);
}
.arrow-area{
    position: relative;
}

.arrow-left{
    position: absolute;
    left: 27%;
    top: 47%;
}
.arrow-right{
    position: absolute;
    right: 24%;
    top: 47%;
}
.arrow-img{
    max-width: 80%;
}

@media (max-width: 1460px){
    .arrow-img{
        max-width: 70%;
    }
    .arrow-left{
        left: 27%;
        top: 43%;
    }
    .arrow-right{
        right: 22%;
        top: 43%;
    }
}

@media (max-width: 1200px){
    .arrow-img{
        max-width: 60%;
    }
    .arrow-left{
        left: 27%;
    }
    .arrow-right{
        right: 20%;
    }
}

@media (max-width: 992px){
.arrow-left{
    display: none;
}
.arrow-right{
    display: none;
}
}



